body{
    min-height: 100%;
    height: 100%;
}

body {
    font-family: 'Roboto', serif;
    margin: 0px;
    border: #000000 2px solid;
    position: relative;
}

/* Navigation */
#nav{
    background: white;
    border: black 2px solid;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 30px;
    align-items: center;
}

/* spacing of nav */
#nav a{
    margin: 0 20px;
}

/* Class left right */

.left{
    background: red;
}

.right{
    background: orange;
}


/* Content*/
#board{
    border: rgb(134, 156, 73) 2px solid;
    margin-top: 30px;
    background: url(Road.jpg) no-repeat 70% center;
    background-size: cover;
    height: 300px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    font-weight: 100;
    font-size: 80px;
}



#main{
    background: white;
    border: black 2px solid;
    display: flex;
    height: 800px;
    margin-bottom: 30px;
}

#main .right,
#main .left{
    flex-basis: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}




/* Footer */

footer{
    border: brown 2px solid;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
}