body,
html {
    height: 100%;
    min-height: 100%;
}
body {
    font-family: 'Roboto', serif;
    margin: 0px;
}

#board {
    position: relative;
    background: #42cbf5;
    top: 60px;
    height: 600px;
    z-index: -1;
}

#board board-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 120px;
    line-height: 120px;
    font-weight: bold;
    color: white;
}

#main {
    display: flex;
    flex-wrap: wrap;
    /* height: 300px; */
    /* flex-direction: column; */
    background: #423bf5;
    /* justify-content: space-around; */
    align-items: center;
}

#left,
#right {
    width: 50%;
    height: 100%;
    font-size: 100px;
}

#left {
    flex-basis: 33%;
    background: pink;
}

#left:hover {
    background: gold;
}

#right {
    flex-basis: 66%;
}

footer {
    position: absolute;
    bottom: 0;
    background: grey;
    color: black;
    width: 100%;
}
