#nav {
    position: fixed;
    top: 0;
    z-index: 1;
    padding: 10px;
    width: 100%;
    background-color: #3288ba;
    height: 40px;
    line-height: 40px;
} 

#nav a {
    text-decoration: none;
    padding: 10px;
    color: white;
    font-weight: bold;
}



